<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博饼小游戏22</title>
</head>
<body>
<form action="/user/login" method="post">
    <ul>
        <span class="l">LOGIN IN</span>
        <li class="w">
            电话号码:<input type="text" id="Unumber" name="Unumber"
                        style="background-color:rgba(255,255,255,0.2);
                border-radius: 3px;"></br>
            Password:&nbsp<input type="password" id="password" name="password"
                                 style="background-color:rgba(255,255,255,0.2);
                border-radius: 3px;"></br>
            <p id="ts"style="color: red;font-size: small;text-align: center"
               th:text="${msg}"></p>
        </li>

        <li class="q">

            &nbsp;&nbsp; Rememberme: <input  type="checkbox" id="remember"
                                             style="position: relative;top:10px;color: white;
                   "></br>
            <input type="submit" value="Login up" id="login"
                   style="background-color: rgba(38,127,232,0.6);
                       border-radius: 3px;width:70px;color:white;">
            <input type="submit" value="logon" id="logon"
                   style="background-color: rgba(38,127,232,0.6);
                       border-radius: 3px;width:70px;color:white;">
            <a href="register.html" style="font-size:smaller">没有账号？点击注册</a>
        </li>
    </ul>
</form>
</body>
</html>

